<header>
  <div id="nav">
    <img id='hmbgr' src='/css/hmbgr.svg'><img>
    <a id = "logo" class="tab" href="#home">OER.IO<span>/</span></a>
    <a class="tab" href="#news">COLLECTION<span>/</span></a>
    <a class="tab" href="#contact">BIOLOGY<span>/</span></a>
    <a class="tab" href="#about">OPENSTAX BIOLOGY</a>
    <a id="download" class="tab right" href="#">DOWNLOAD</a>
    <a class="tab right" href="#">SEARCH<span>/</span></a>
    <a class="tab right" href="#">CONTENTS<span>/</span></a>
  </div>
</header>
